{% extends 'base.html.twig' %}



{% block body %}
    {% for data in datas %}
        <div class="flash-notice">
            {{ data.station }}
            {{ data.date }}
            {{ data.temperature }}


            {{ data.humidity }}
        </div>
    {% endfor %}
{% endblock %}
